.cart {
  /* background-colo÷r: #f2f2f2; */
  color: #f2f2f2
}

.cart:hover {
  color: #c2c2c2;
  background: none;
}

.cart-light {
  color: #2F2626;
}

.cart-light:hover {
  color: #222;
  background: none;
}