.nav-bar {
  background-color: #2F2626;
}

.nav-bar-light {
  background-color: #f2f2f2;
}

.userName {
  color: #f2f2f2;
}

.userName-light {
  color: #2F2626;
}

.cart {
  /* background-colo÷r: #f2f2f2; */
  color: #f2f2f2
}

.cart:hover {
  color: #c2c2c2;
  background: none;
}

